@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  color: white;
  background: rgb(20, 21, 18);
} */

@keyframes slidein {
  from {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(1%);
  }
}

.animate-slidein {
  animation: slidein .8s linear infinite alternate;
}

@keyframes slideMenu {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.menu-animation {
  animation: slideMenu .6s linear;
}
